<div class="holder">
  <div class="list-content home-search">
    <h3>GET IN TOUCH</h3>
    <div>
      <%= image_tag('/images/Natalie-Headshot_1.jpg', :class => "small-headshot") %>
    </div>
    <div style="position:relative;top:-125px;left:200px;">
      <div><strong>Natalie Smith</strong></div>
      <div>@properties Broker</div>
      <br>
      <div><a href="mailto:NatalieSmith@atproperties.com">NatalieSmith@atproperties.com</a></div>
      <div>(773) 451-6196</div>
    </div>
  </div>
  <div class="list-content calc">
    <h3>STAY IN TOUCH</h3>
    <div class="text-center">
      <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
      <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
      <i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i>
      <i class="fa fa-yelp fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>
