<div class= container>
  <h2> About Real Estate With Purpose</h2>
  <h4> Real Estate represents more than a financial transaction for four walls and a roof - it is
    an investment and personal commitment to Chicago's neighborhood and the surrounding community. To
    that end, 10% of my commission goes to reinvest in the community through the local charity and
    organization of my clients choice.
  </h4>
</div>