
<head>
</head>

<div class="container">
  <h2> About Real Estate With Purpose</h2>
  <p>Real Estate represents more than a financial transaction for four walls and a roof - it is an investment and personal commitment to Chicago's neighborhood and the surrounding community. To that end, 10% of my commission goes to reinvest in the community through the local charity and organization of my clients choice.
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>
        <% if @donations %>
        <% @donations.each do |donation| %>
        Charity: <%= donation.charity.name %>
        <br>
        Amount: <%= donation.amount_donated %>
        <% end %>
        <% else %>
        0 Donations
        <% end %>
      </p>
      <h3> Number of charities donated to </h3>
      <%= @donations.count %>
      <br>
      <h3> Average donation amount </h3>
      <% if @donation %>
      <%= @donation.average_donation %>
      <% else %>
      0 dollars donated
      <% end %>
    </div>
    <div class="col-md-4">
      <h2>See for yourself</h2>
      <div class ="input-group-dc">
        <!-- <span class="input-group-addon">Enter your budget: $</span> -->
        <input type="text" class="form-control" id="budget" placeholder="Enter your Home Budget in (USD)">
        <!--         <span class="input-group-addon">$</span>  --> 
        <div class="row">
          <div class="col-md-7">
            <div id="textbox"></div>
          </div>
          <div class="col-md-5">
            <p>Estimated donation amount to charity of your choice, based on budget.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
