<h1>List With Us</h1>

<div id="intro">
  <h3>Intro</h3>
  <p>text</p>
</div>


<div id="process">
  <h3>Process</h3>
  <p>graphic</p>
  <div class="arrow-steps">
  <div class="step current" onclick="changeStep('one')">
    <span>Step 1</span>
  </div>
  <div class="step" onclick="changeStep('two')">
    <span>Step 2</span>
  </div>
  <div class="step" onclick="changeStep('three')">
    <span>Step 3</span>
  </div>
  <div class="step" onclick="changeStep('four')">
    <span>Step 4</span>
  </div>
  <div class="step" onclick="changeStep('five')">
   <span>Step 5</span>
  </div>
  <div class="step" onclick="changeStep('six')">
    <span>Step 6</span>
  </div>
  <div class="step" onclick="changeStep('donation')">
    <span>Donation</span>
  </div>
  </div>
  <div id="content">
    <div id="step-description" class="step-content">
      <p>
        Step one description. 
      </p>
    </div>
    <div id="step-image" class="step-content">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/220px-Smiley.svg.png">
    </div>
  </div>          
</div>

