<h1>List With Us</h1>

<div id="intro">
  <h3>Intro</h3>
  <p>text</p>
</div>


<div id="process">
  <div class="arrow-steps">
  <div class="step current" id='one')">
    <span>Step 1</span>
  </div>
  <div class="step" id='two'>
    <span>Step 2</span>
  </div>
  <div class="step" id='three'>
    <span>Step 3</span>
  </div>
  <div class="step" id='four'>
    <span>Step 4</span>
  </div>
  <div class="step" id='five'>
   <span>Step 5</span>
  </div>
  <div class="step" id='six'>
    <span>Step 6</span>
  </div>
  <div class="step" id='donation'>
    <span>Donation</span>
  </div>
  </div>
  <div id="content">
    <div class="step-description step-content">
      <p>
        Step one description. 
      </p>
    </div>
    <div class="step-image step-content">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/220px-Smiley.svg.png">
    </div>
  </div>          
</div>

