<div class= container>
  <h2> What makes Real Estate with Purpose different?</h2>
  <h4> As an experienced Evanston real estate agent, resident of Northwest Evanston’s Central Street corridor, and a tireless advocate of this great community on Chicago’s North Shore, I am intimately aware of what makes our community desirable for current and prospective residents.
  <br>
  <br>

  Whether you plan to buy or sell a home in Evanston, my primary goal is to make sure your real estate needs and wants are delivered at the highest possible level.  My second goal is to reinvest in our community through my Real Estate with Purpose initiative where 10% of my commission goes to financially supporting the local nonprofits, charities and organizations that work daily to improve Evanston’s neighborhoods.
  I look forward to the opportunity to work with you!
  <br>
  <br>

  Natalie Smith
  Real Estate Broker, @properties
  </h4>
</div>