<div class="holder">
  <div class="list-content">
    <h3>STAY IN TOUCH</h3>
      <br>
    <div>
      <%= image_tag('/images/Natalie-Headshot_1.jpg', :class => "small-headshot") %>
    </div>
      <div class="natalie-contact">
        <div><strong>Natalie Smith</strong></div>
        <div>@properties Broker</div>
        <div><strong>Office Hours: </strong>By Appointment Only</div>
        <div>
          <a href="mailto:NatalieSmith@atproperties.com">NatalieSmith@atproperties.com</a>
        </div>
      <div>(773) 451-6196</div>
      <br>
  
        <a href="https://www.linkedin.com/in/natalie-smith-91a17627"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/realestatewithpurpose"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
        <a href="https://plus.google.com/+RealestatewithpurposeCo"><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a>
        <!-- <i class="fa fa-yelp fa-3x" aria-hidden="true"></i> -->
        
      </div>
  </div>
</div>

<div class="holder">
  <div class="list-content">
    <h3>OFFICE LOCATIONS</h3>
    <div class="non-negs-holder">
      <div class="non-negs">
        <div><strong>Bucktown</strong></div>
        <div>1875 N. Damen Avenue</div>
        <div>Chicago, Illinois 60647</div>
        <br>
        <!-- <p><strong>By Appointment Only</strong></p>
        <br>
        <div>
          <a href="mailto:NatalieSmith@atproperties.com">NatalieSmith@atproperties.com</a>
        </div>
        <div>(773) 451-6196</div> -->
      </div>
      <div class="non-negs location-map">
        <%= image_tag('bucktown1.png') %>
      </div>
    </div>
    <br>
    <div class="non-negs-holder">
      <div class="non-negs">
        <div><strong>Evanston</strong></div>
        <div>1821 Benson Avenue</div>
        <div>Evanston, Illinois 60201</div>
        <br>
        <!-- <p><strong>By Appointment Only</strong></p>
        <div><a href="mailto:NatalieSmith@atproperties.com">NatalieSmith@atproperties.com</a></div>
        <div>(773) 451-6196</div> -->
      </div>
      <div class="non-negs location-map">
        <%= image_tag('evanston.png') %>
      </div>
    </div>
  </div>
</div>

