
<div class="holder">
  <div class="list-content">
    <h3>Intro</h3>
    <p>Donec egestas justo id pellentesque venenatis. Etiam dapibus diam arcu, sit amet posuere ex venenatis in. Phasellus dignissim nulla nec consectetur tempor. Quisque venenatis, nulla at bibendum porttitor, turpis justo sodales neque, eget placerat justo purus congue massa. Praesent lobortis tristique est ut euismod. Nulla aliquam varius urna quis posuere. Integer commodo ex nulla, a accumsan nibh dapibus mattis. Aliquam et sodales ante.</p>
  </div>
</div>


<div class="holder">
  <div class="list-content">
    <h3><span id="list-title">THE HOME SALE PROCESS</span></h3>
    <div class="arrow-steps">
    <div class="step current" id='one')">
      <span>Step 1</span>
    </div>
    <div class="step" id='two'>
      <span>Step 2</span>
    </div>
    <div class="step" id='three'>
      <span>Step 3</span>
    </div>
    <div class="step" id='four'>
      <span>Step 4</span>
    </div>
    <div class="step" id='five'>
     <span>Step 5</span>
    </div>
    <div class="step" id='six'>
      <span>Step 6</span>
    </div>
    <div class="step" id='donation'>
      <span>Donation</span>
    </div>
    </div>
    <div class="content-active one">
      <div class='step-description step-content' style="opacity: 1;">
        <p>
          <h1>Step One</h1>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue dolor vel leo efficitur facilisis. Mauris accumsan turpis nec enim ornare, sit amet interdum ipsum egestas. Duis tempus scelerisque purus facilisis cursus. Ut eget varius justo. Integer vel feugiat ex. Phasellus quis lacus tempus, sodales libero molestie, lacinia enim. Proin sit amet magna non odio tempor feugiat at gravida nisi. Nullam nisl dui, aliquet ac lorem sit amet, vestibulum iaculis nulla. Curabitur tincidunt nisi eu neque viverra suscipit. Aenean quis tincidunt metus, mollis consectetur nisi. Vivamus pellentesque metus nec odio consequat, eget mollis nunc porttitor. Aliquam erat volutpat. Aliquam rhoncus ex nulla, sit amet eleifend tellus euismod vitae. Ut tempus turpis ut nisl finibus scelerisque.
        </p>
      </div>
      <div class='step-image step-content' style="opacity: 1;">
        <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/220px-Smiley.svg.png'>
      </div>
    </div>
    <div class="content-inactive two">
      <div class='step-description step-content'>
        <p>
        <h1>Step 2</h1>
        Fusce convallis maximus sapien, sed congue arcu hendrerit non. In ut volutpat neque. Fusce finibus congue venenatis. Pellentesque tellus dui, lacinia in feugiat id, hendrerit convallis lectus. Fusce convallis orci lacus, at tristique tellus interdum sed. Aliquam venenatis consectetur tellus quis auctor. Nam ut sem sagittis, faucibus augue quis, congue justo. Nullam vel risus risus. Cras ut tincidunt augue, eget rutrum orci. Donec ullamcorper mauris nec semper sagittis. Vestibulum porttitor enim at neque accumsan, sed dapibus libero semper. Aenean vulputate tincidunt eros sed accumsan. Maecenas a cursus nunc. Proin vel convallis lectus. Nam lacinia arcu nibh, eget condimentum tellus laoreet et. Praesent non mauris vel leo sagittis suscipit in a diam.
        </p>
      </div>
      <div class='step-image step-content'>
        <img src='http://imgs.xkcd.com/comics/mysteries.png'>
      </div>
    </div>
    <div class="content-inactive three">
      <div class='step-description step-content'>
        <p>
        <h1>Step 3</h1>
        Pellentesque ut ex mauris. Duis gravida aliquam erat, quis viverra nisi aliquet eget. Phasellus imperdiet, velit vitae convallis condimentum, nunc ante ullamcorper nulla, condimentum elementum nisl purus id augue. Praesent eu eleifend dui. Sed elementum elit vel mauris malesuada, eget convallis urna pharetra. Donec vitae augue pharetra libero tempor congue non vitae metus. Ut mi ipsum, bibendum a metus id, laoreet luctus leo. Duis sit amet pretium est, vitae pulvinar eros. Morbi fermentum, libero quis viverra molestie, augue dui efficitur justo, vitae sollicitudin enim nunc sit amet ante. Quisque posuere interdum erat quis dapibus. Morbi dignissim augue quis metus euismod pretium.
        </p>
      </div>
      <div class='step-image step-content'>
        <img src='http://cdn3-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-15.jpg'>
      </div>
    </div>
    <div class="content-inactive four">
      <div class='step-description step-content'>
        <p>
        <h1>Step 4</h1>
        Suspendisse potenti. Aliquam eu leo nunc. In at felis et nisl viverra scelerisque. Morbi a enim ac eros condimentum lacinia. Mauris bibendum leo tincidunt, porta risus eu, condimentum erat. Aenean fermentum massa ut elit porttitor suscipit. Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Nunc ultricies pretium eros id sagittis. Fusce sed sem non dolor ultricies iaculis. Vestibulum sapien felis, mollis in hendrerit vitae, volutpat non metus. Cras molestie, metus vel consectetur dapibus, ligula tellus posuere massa, nec imperdiet purus tortor sed diam. Fusce vel quam sed metus lobortis vehicula. Suspendisse scelerisque, neque sed posuere faucibus, ipsum ligula elementum enim, ut venenatis nunc nulla ac elit. Proin tincidunt lacus purus, vel consequat nulla ultrices sed. Quisque tempus eget velit sed cursus.
        </p>
      </div>
      <div class='step-image step-content'>
        <img src='http://seaotters.com/wp-content/uploads/2012/03/628x353-otter-cu-yawn.jpg'>
      </div>
    </div>
    <div class="content-inactive five">
      <div class='step-description step-content'>
        <p>
        <h1>Step 5</h1>
        Integer pretium tortor sed urna iaculis ultricies. Donec condimentum lobortis vulputate. Ut efficitur leo a dignissim facilisis. Proin varius leo ac metus tincidunt tristique. Sed non nulla at leo interdum rhoncus non nec nulla. Ut lobortis facilisis ante, a sollicitudin felis vulputate vel. Quisque iaculis diam vel dui faucibus imperdiet. Proin eu diam aliquam, elementum nibh a, interdum mauris. In hac habitasse platea dictumst. Sed ac suscipit libero.
        </p>
      </div>
      <div class='step-image step-content'>
        <img src='http://www.snail-world.com/wp-content/uploads/snail-front.jpg'>
      </div>
    </div>
    <div class="content-inactive six">
      <div class='step-description step-content'>
        <p>
        <h1>Step 6</h1>
        In dictum risus at efficitur egestas. Vivamus sit amet sem non nunc efficitur ultricies. Vestibulum consequat sem mi, in fermentum massa elementum quis. Pellentesque faucibus varius varius. Cras viverra ante quam, sit amet aliquam enim facilisis quis. Nunc consectetur gravida augue, vel condimentum mauris blandit ut. Phasellus lectus diam, facilisis vel nisi non, venenatis blandit ligula. Donec suscipit vitae ligula in suscipit. Suspendisse sit amet ornare lorem, id porta diam. Vestibulum ipsum eros, varius eget dapibus sed, congue efficitur tellus. Fusce odio elit, aliquet sed posuere eget, lobortis non diam. Nunc nec accumsan ex.
        </p>
      </div>
      <div class='step-image step-content'>
        <img src='http://www.nbc.com/the-tonight-show/content/sites/nbcutsjf/files/images/2014/10/06/ewalbumv0322.jpg'>
      </div>
    </div>
    <div class="content-inactive donation">
      <div class='step-description step-content'>
        <p>
        <h1>Donations</h1>
        Sed tempor enim eros, id ullamcorper lectus lacinia eget. Proin sit amet felis nibh. Etiam varius neque mauris, et dapibus eros rutrum porttitor. Duis non felis non ipsum iaculis faucibus. Quisque non ultrices nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam nisi arcu, molestie vel leo at, accumsan feugiat lorem.
        </p>
      </div>
      <div class='step-image step-content'>
        <img src='https://upload.wikimedia.org/wikipedia/en/8/84/Titanfall_box_art.jpg'>
      </div>
    </div>
  </div>
</div>

<div class="holder">
  <div class="list-content">
    <h3>PRO TIP: WIN THEIR HEARTS AND MINDS</h3>
    <div class="inner-content-holder">
      <div class="inner-content">
        <div class="self-promotion">
          <img src="https://upload.wikimedia.org/wikipedia/commons/b/bb/Icon_dog.gif", class="promo-image">
          <p>
          Est. donation based on the charity of your choice, based...
          </p>
        </div>
        <div class="self-promotion">

        </div>
        <div class="self-promotion">

        </div>

      </div>
      <div class="inner-content">

      </div>
      <div class="inner-content">

      </div>
    </div>
  </div>
</div>


