<div class="container" id="charities">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
      <% if current_user && current_user.admin %>
        <h3>Charities <%= link_to 'Create New Charity', '/charities/new', class: "btn btn-default" %></h3>
      <% end %>
    <br>
    <h4>Wondering where the donations go?</h4>
    <h4>The charities you see below have now been recipients of multiple donations through Real Estate with Purpose.</h4>
    <div class="container-fluid charities-padding-container">
      <div class="row">
        <% @charities.each do |charity| %>
          <div class="col-md-3">            
            <a href="/charities/<%= charity.id %>"><%= image_tag charity.logo.url(:medium) %></a>
          </div>
        <% end %>
      </div> 
    </div>     
  </div>
</div>

    



