// color variables
$dark-gray: #353131;
$medium-gray: #786F6A;
$light-gray: #B1B0B0;
$royal-blue: #003FC5;
$light-blue: #CAE2FC;
$off-white: #F4F7F7;

#company-profile {
  img {
  border-radius: 50%;
  margin: 25px 25px;
  width: 50%;
  height: 50%;
  }
}
