// color variables
$dark-gray: #353131;
$medium-gray: #786F6A;
$light-gray: #B1B0B0;
$royal-blue: #003FC5;
$light-blue: #CAE2FC;
$off-white: #F4F7F7;
$soft-gray: #F2F2F2;

.list-content {
  position: relative;
  width: 100%;
  left: 10%;
  background: $soft-gray;
  margin: 10px;
  padding: 10px;
}

.arrow-steps {
  display: flex;
}

.step {
  background-color: #d9e3f7;
  flex: 1;
  display: flex;
  font-size: 14px;
  text-align: center;
  color: #666;
  cursor: pointer;
  margin: 5px 3px;
  padding: 10px 10px 10px 30px;
  float: left;
  position: relative;
  transition: flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
}

.step:hover {
  background-color: black;
  color: white;
}

.current {
  background-color: green;
  color: white;
  flex: 3;
}

.current:hover {
  background-color: #55db57;
  color: black;
}

.content-active {
  position: relative;
  width: 100%;
  display: flex;
}

.content-inactive {
  display: none;
}

.step-content {
  flex: 1;
  display: flex;
  padding-bottom: 20px;
  transition: opacity .5s ease-in-out;
  opacity: 0;
}

.step-description {
  position: relative;
  display: block;
  padding-left: 10px;
  text-align: center;
}


.step-image img {
  position: relative;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#list-title {
  margin: 10px;
}






