// color variables
$dark-gray: #353131;
$medium-gray: #786F6A;
$light-gray: #B1B0B0;
$royal-blue: #003FC5;
$light-blue: #CAE2FC;
$off-white: #F4F7F7;
$nav-blue: #2C00D0;

// typography variables
$font-main: 'Heebo', sans-serif;
$font-weight-headings: 900;
$font-weight-body: 400;
$font-weight-light: 300;

// mixins
@mixin button {
  background-color: $royal-blue;
  border: none;
  box-shadow: none;
  color: $off-white;
  padding: .25em 1em;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.8em;
}

@mixin input {
  padding: 6px 10px;
  font-size: 14px;
  color: $dark-gray;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

body {
  font-family: $font-main;
  font-weight: $font-weight-body;
  font-size: 16px;
  padding-top: 48px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-headings;
}

img.navbar-brand {
  height: 55px;
  width: 55px;
  margin-left: 1px !important;
}

#bs-example-navbar-collapse-1 {
  padding-top: 5px;
}

.navbar-default .navbar-nav > li > a {
  color: $off-white;
}

.navbar-fixed-top {
    min-height: 63px;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 63px;
}

@media (min-width: 768px) {
    .navbar-fixed-top .navbar-collapse {
        max-height: 50px;
    }
}

nav.navbar.navbar-default.navbar-fixed-top {
  background-color: $nav-blue;
}

li.outline-button {
  border: 2px solid $off-white;
  border-radius: 15px;
  padding: 0 10px;
  margin: 0 5px;
}

.container-fluid {
  padding: 0;
}

.navbar-header {
  padding: 0 1em;
}

.navbar-right {
  @extend .navbar-header;
}

.logo {
  width: 30px;
  height: 29px;
  border: 0;
}

.input-group-dc {
  #textbox {
    font-weight: bold;
    padding: 10px 10px 0 0;
  }

  #budget {
    @include input;
  }

  p {
    padding: 10px 0 0 15px;
  }
}

.navbar-fixed-top { border:0; }

.hero-image {
  background-image: image-url('real-estate-1689980_1920.jpg');
  height: 30em;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc; 
  box-shadow:         3px 3px 5px 6px #ccc;
}

.box-image {
  border-radius: 5px;
  color: $dark-gray;
  position: absolute;
  text-align: center;
  top: 30%;
  left: 0;
  background: rgba($off-white, 0.75);
  padding: 2em 1em;

  a {
    @include button;
  }
}

.product_single{
  display: flex;
  flex-direction: column;
  background: #42c5f4;
  background: rgba(250,240,230,0.9);
  padding: 0 15px 15px 15px;
  color: #000;
  box-shadow: 0 3px 3px rgba(0,0,0,0.35);
  min-height: 400px;
  border-radius: 15px;
  border: solid #575757 4px;
  margin-bottom: 15px;
}

.text_overflow{
  white-space: nowrap;
  overflow-x: scroll;
}

.box_sizing{
  box-sizing: border-box;
}

.holder {
  display: flex;
  flex: 1;
  position: relative;
  width: 75%;

}

.pair {
  position: relative;
  background: #F2F2F2;
  margin: 10px;
  box-shadow: 5px 5px 5px #888888;
  padding: 10px;
}

.calc {
  flex: 1;
}

.home-search {
  flex: 2;
}

.home-form {
  display: flex;
}

.form-address {
  width: 75%;
}

.form-line {
  display: flex;
}

.form-bedbath {
  flex: 1;
  margin: 5px;
}

.find-home {
  flex: 1;
  padding: 5px;
  margin-top: 5%;
}

.non-negs-holder {
  display: flex;
}

.non-negs {
  flex: 1;
  padding: 10px;
}

.neg-img {
  height: 200px;
  border-radius: 5%;
  text-align: center;
}

.inner-content-holder {
  display: flex;
}

.inner-content {
  position: relative;
  flex: 1;
}

.inner-content input {
  position: relative;
  left: 30%;
}

.newsletter-submit {
 @include button;
}

.self-promotion p {
  float: left;
}
.promo-image {
  height: 50px;
}

.home-content {
  margin: 2em;
  &:first-child {
    border-bottom: 4px solid $light-gray;
  }
  .container {
    width: 100%;

    .donation-calc {
      border: none;
    }
  }
}

.thumbnail img {
  height: 300px;
}

.top-search-bar {
  display: flex;
  background: $light-gray;
  padding: 1em 0.5em 0.5em;
  flex-flow: row wrap;
  justify-content: center;
}

.form-item {
  flex: 1 14%;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 10px;

  input {
    @include input;
  }
}

.submit-btn {
  flex: none;
  padding: 1em;
  input {
    @include button;
  }
}

.get-ready {
  left: 5%;
  display: inline;
  margin-top: 3em;
  position: relative;
}

.pagination {
  display: flex;
}

.page-links {
  flex: 1;
}

.submit-button {
  background: none;
  border: none;
}

.change-page :hover {
  background-color: black;
  border-radius: 100%;
  color: white;
}

.active-page {
  background-color: black;
  border-radius: 100%;
  color: white;
}

/* media queries */

@media screen and (min-width: 480px) {
  .box-image {
    padding: 2em;
    left: 30%;
    text-align: center;
  }
}

@media screen and (min-width: 990px) {
  .home-content {
    .container {
      .donation-calc {
        border-left: 4px solid $light-gray;
      }
    }
  }
}

.add-favorite {
  @include button;
}

.delete-favorite {
  @include button;
  background-color: red;
  font-size: 1em;
}

.main-details {
  display: flex;
}

.address-info {
  flex: 1;
}

.price-and-days {
  flex: 1;
}

.property-photos {
  display: flex;
  width: 700px;
  overflow-y: scroll;
}

.property-photos img {
  padding: 10px;
  height: 150px;
}

.property-photo-frame :hover {
  cursor: pointer;
  opacity: .5;
}

.current-active {
  border: solid green;
  border-radius: 5%;
}

.small-headshot {
  height: 150px;
  width: 150px;
}

.natalie-contact {
  position: relative;
  top: -125px;
  left: 200px;
}

.location-map img {
  height: 200px;
}


.user-submit {
  @include button;
  font-size: 1.1em;
}

.sign-up {
  display: flex;
}

.sign-up-portion {
  flex: 1;
}

.sign-up input {
  @include input;
  margin: 5px;

}

.sign-up .user-submit {
  color: $off-white;
}

.sign-up form {
  text-align: center;
}

// charities index

.charities-padding-container {
  padding-top: 20px;
}

// charities show page

.show-page {
  padding: 20px 0 20px 0;
}

#charity-actions {
  padding-top: 10px;
}

/* end */
