 .product_single{
  background: #42c5f4;
  background:rgba(250,240,230,0.9);
  padding:0 15px 15px 15px;
  color:#000;
  box-shadow: 0 3px 3px rgba(0,0,0,0.35);
  min-height: 400px;
  border-radius: 15px;
  border: solid #575757 4px;
  margin-bottom: 15px;
 }